AppData/
*.jtx
AppData/
AppData/
*.jtx
AppData/

Cookies/
Documents/My Music/
Documents/My Videos/
Documents/My Pictures/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/x

AppData/
*.jtx
AppData/
AppData/
*.jtx
AppData/
